* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

h1 {
  font-size: 4.5rem;
}

h1,
h2 {
  font-family: "Exo", sans-serif;
}

div.hr-line {
  border-bottom: 4px solid rgb(255, 251, 1);
  width: 250px;

  margin-bottom: 50px;
}

div.cards {
  background-color: #e9e9e9;
  color: inherit;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  padding: 40px 10px;
}

.flex-centering {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.74, #eaec4d),
    color-stop(0.4, #141424),
    color-stop(0.36, #de8347)
  );
}
