nav#myNav {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  z-index: 5;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;

    li {
      margin-right: 10px;
      width: fit-content;

      &:last-child {
        margin-right: 50px;
      }

      a {
        font-size: 2rem;
        color: #fbff00;

        &::after {
          content: "";
          display: block;
          height: 2px;
          width: inherit;
          background: #f9fd00;
          transition: all 0.4s ease;
          transform: scale(0);
          margin-top: 6px;
        }

        &:hover {
          color: #fbff06;
          transition: color 0.6s;
          &::after {
            transform: scale(1);
            width: inherit;
          }
        }
      }
    }
    a.active {
      &::after {
        content: "";
        display: block;
        height: 2px;
        background: #f9fd00;
        transition: all 0.4s ease;
        transform: scale(1);
        margin-top: 4px;
      }
    }
  }

  a {
    margin-left: 20px;
    font-size: 2.5rem;
    &:hover {
      text-decoration: none;
    }
  }
}

.nav-colored {
  background-color: #030019;
  transition: all 1s;
}
