section#Projects {
  min-height: 100vh;
  div.project-header {
    flex-direction: column;

    margin: 0 auto;
  }

  .cards {
    height: 400px;
    width: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    background-color: rgb(255, 255, 255);
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    div.bg-color {
      transition: all 1s;
      opacity: 1;
      position: absolute;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      background-color: #083346d2;
      height: 10%;
      width: 100%;

      h2 {
        transform: translateY(10px);
        transition: all 0.7s;
      }

      div.project-details {
        transform: translateY(120px);
        font-size: 2rem;
        width: 100%;
      }
    }

    img {
      width: 100%;
    }
  }

  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    &:hover {
      div.bg-color {
        height: 100%;
        top: 50%;
        background-color: #083346f3;
        transition: all 0.7s;

        h2 {
          transform: translateY(130px);
          transition: 0.7s;
          transition-delay: 0.1s;
        }
        div.project-details {
          transform: translateY(140px);
          transition-delay: 1s;
          transition: 0.5s;
        }

        img {
          z-index: -1;
        }
      }

      .card2 {
      }

      .card3 {
      }

      .card4 {
      }

      .card5 {
      }

      .card6 {
      }
    }
  }
}
