.flex-centering {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/************************margins*********************/

/****************        Margin left        ******************/
.margin-left-mini {
  margin-left: 1rem;
}

.margin-left-small {
  margin-left: 2rem;
}

.margin-left-large {
  margin-left: 5rem;
}
.margin-left-huge {
  margin-left: 8rem;
}
/****************        Margin top        ******************/
.margin-top-sm {
  margin-top: 1.5rem;
}

.margin-top-md {
  margin-top: 3rem;
}

/****************        Margin bottom        ******************/
.margin-bottom-small {
  margin-bottom: 2rem;
}
.margin-bottom-md {
  margin-bottom: 4rem;
}

.margin-bottom-large {
  margin-bottom: 5rem;
}
.margin-bottom-huge {
  margin-bottom: 8rem;
}

/*********************margin-right*****************************/

.margin-right-sm {
  margin-right: 1.5rem;
}

/*****************************padding**********************************/

.padding-large {
  padding: 30px;
}
